body{
    background-color: rgb(116, 204, 204);
}

textarea{
    resize: none;
}
.contenedor {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    grid-template-rows: repeat(1,97vh);
}


#tres {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   }

#icono{
    display: flex;
    justify-content: center;
}

#mensaje{
    display: flex;
    justify-content: center;
    padding-top: 3vh;
}

#entradaM{
    font-size: 20px;
    background-color: rgb(116, 204, 204);
    border-style: hidden;
    border-radius: 8px;
}

#botones{
    display: flex;
    justify-content: space-evenly;
   
}

button {
    font-size: large;
    background-color: rgb(44, 66, 66);
    font-weight: bold;
    border-radius: 10px;
    border: hidden;
    cursor: pointer;
    height: 10vh;
    width: 25vw;
}

button:hover{
    background-color: rgb(70, 116, 116);
    color: antiquewhite;
}

.advertencia{
    display: flex;
    padding-left: 4vw;
}

.mAdvertencia{
    font-weight: bold;
}

.contenedorFinal{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3.5fr 0.5fr;
    height: 85vh;
    width: 20vw;
    border-radius: 10px;
    background: #96e7b1;
}

#copiar{
    width: 10vw;
    margin-top: 2vh;
    display: none;
}

#limpiar{
    width: 10vw;
    margin-top: 2vh;
    display: none;
}

.mensajeF{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;
}
#mensajeFTA{
    border-style: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    width: 20vw;
}

#oops{
    display: block;
    float: left;
    height: 56vh;
    width: 20vw; 
}

.botonPrincipal{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25vh;
}

.botonP{
    width: -webkit-fill-available;
}

.botones_CF{
display: flex;
}

#oopsM{
    display: block;
    margin: 1vh;
    margin-left: 2vh;
}